.row-header {
   margin: 0px auto;
   padding: 0px 0px;
}

.row-content {
   margin: 0px auto;
   padding: 50px 0px;
   border-bottom: 1px ridge;
   min-height: 400px; 
   border-color: #fff;
}

.footer {
   background-color: #ffafaf;
   margin: 0px auto;
   padding: 20px 0px;
   color: black;
}

.jumbotron {
   margin: 0px auto;
   padding: 70px 30px;
   background: #ff7575;
   color: floralwhite;
}

address {
   font-size: 80%;
   margin: 0px;
   color: #0f0f0f;
}

body {
   padding: 50px 0px 0px 0px;
   z-index: 0; 
   background: #212121;
   color: white;
   margin: 0;
}

.navbar-dark {
   background-color: #212121;
}

.tab-content {
   border-left: 1px solid #ddd;
   border-right: 1px solid #ddd;
   border-bottom: 1px solid #ddd;
   padding: 10px;
}

.carousel {
   background: #ff7575;
}
.carousel .carousel-item {
   height: 400px;
}
.carousel .carousel-item img {
   position: absolute;
   top: 0;
   left: 0;
   min-height: 400px;
}

.carousel-caption {
   width: 350px;
   color: black;
   height: 350px;
}

#carouselButton {
   right: 0px;
   position: absolute;
   bottom: 0px;
   z-index: 1;
}

.modal-header {
   background-color: #212121;
   color: floralwhite;
}
.modal-header .close {
   color: floralwhite;
}

.modal-body {
   background-color: #ffafaf;
}

.siteName {
   font-weight: bold;
   color: 'black';
   font-size: 70px;
}

li {
   float: left;
}

li a {
   display: block;
   padding: 16px;
   text-align: center;
}
.banner {
    height: 30px;
}
iframe{
   display: block;
   min-width: 1000px;
   min-height: 600px;
   height: calc(100vh - 30px);
   width: 100%;
   border: none;
}

a {
   color: inherit;
}

a:hover {
   color: #ffafaf;
}
